:root {
    --white: #f8fafc;
    --blue: #38bdf8;
    --light-grey: ##f3f4f6;
    --slate: #e2e8f0;
}

*, html {
    margin: 0;
    padding: 0;
    color: var(--white);
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

/* aside section */
aside {
    background-color: var(--blue);
    grid-area: 1 / 1 / 3 / 2;
}

.aside-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header section */
header {
    background-color: var(--light-grey);
   grid-area: 1 / 2 / 2 / 3;
}

/* main section */
main {
    background-color: var(--slate);
    grid-area: 2 / 2 / 3 / 3;
}